.menuLinks {
	transition: all 0.8s;
	-webkit-transition: all 0.5s;
	padding-right: 10px;
	height: calc(100vh - 100px);
}
.headerContent {
	display: block;
}
.menuLinks ul {
	list-style: none;
}

.menuLinks ul li {
	margin: 11px 5px;
}

.menuLinks ul li:last-child {
	margin-bottom: 0px;
}

.menuLinks ul li a {
	color: var(--white-color);
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	width: fit-content;
	text-decoration: none;
}

.menuLinks ul li:not(.active) a:hover {
	color: var(--theme-color);
}

.menuLinks ul li a i {
	width: 32px;
	height: 32px;
	line-height: 20px;
	margin-right: 12px;
	padding: 6px 0px;
	text-align: center;
}

.menuLinks ul li.active a i {
	border-radius: 5px;
	background-color: var(--theme-color);
	margin-right: 12px;
}
.entering,
.entered {
	transform: translateX(200px);
}
.exiting,
.exited {
	transform: translateX(0);
}
.switchTheme {
	display: none;
}
@media (max-width: 600px) {
	.menuLinks {
		position: absolute;
		background-color: var(--body-color);
	}
	.switchTheme {
		display: block;
		padding-bottom: 10px;
		text-align: center;
	}
}
