@media (min-width: 1200px) and (max-width: 1399px) {
	h1 {
		font-size: 30px;
		line-height: 38px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 22px;
		line-height: 30px;
	}
	h4 {
		font-size: 14px;
		line-height: 22px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.menuLinks ul li {
		margin-bottom: 18px;
	}
	.headerContent form {
		width: 75%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 26px;
		line-height: 34px;
	}
	h2 {
		font-size: 20px;
		line-height: 28px;
	}
	h3 {
		font-size: 18px;
		line-height: 26px;
	}
	h4 {
		font-size: 12px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	body {
		font-size: 15px;
		line-height: 22px;
	}
	.themeBtn {
		font-size: 14px;
		line-height: 22px;
		padding: 6px 0px;
	}
	.navbar {
		padding: 16px;
	}
	.navbarLight .navbarBrand {
		font-size: 18px;
		line-height: 26px;
		margin: 0px;
	}
	.menuLinks ul li {
		margin-bottom: 18px;
	}
	.menuLinks ul li a {
		padding: 8px;
	}
	.menuLinks ul li a i {
		margin-right: 10px;
	}
	.switch {
		width: 50px;
		height: 26px;
		margin-left: 20px;
	}
	.slider:before {
		width: 18px;
		height: 18px;
		right: 3px;
	}
	.headerContent form {
		width: 75%;
	}
	.headerContent .profile {
		margin: 0px 10px 0px 20px;
	}
	.trendingTitle {
		margin: 22px 0px;
	}
	.trendingDesc {
		padding: 12px;
	}
	.trendingDesc .bid h5 {
		margin-bottom: 4px;
	}
	.trendingDesc .bid span {
		font-size: 18px;
		line-height: 26px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 22px;
		line-height: 28px;
	}
	h2 {
		font-size: 16px;
		line-height: 24px;
	}
	h3 {
		font-size: 14px;
		line-height: 22px;
	}
	h4 {
		font-size: 12px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.theme-btn {
		font-size: 14px;
		line-height: 22px;
		padding: 6px 0px;
	}
	.navbar {
		padding: 16px 0px;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
	}
	.navbarLight .navbarBrand {
		font-size: 18px;
		line-height: 26px;
		margin: 0px;
	}
	.lightTheme .menuLinks {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	}
	.menuLinks ul li {
		margin-bottom: 18px;
	}
	.menuLinks ul li a {
		padding: 8px;
	}
	.menuLinks ul li a i {
		margin-right: 10px;
	}
	.menuLinks {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		background: var(--body-color);
		width: 30%;
		padding: 50px 0px 0px 20px;
		z-index: 10;
	}
	.switch {
		width: 50px;
		height: 26px;
		margin-left: 20px;
	}
	.switch::before {
		left: 8px;
	}
	.slider:before {
		width: 18px;
		height: 18px;
		right: 3px;
	}
	.headerContent form {
		width: 55%;
	}
	.lightTheme .headerContent form input[type='search'] {
		height: 36px;
	}
	.headerContent .profile {
		margin: 0px 10px 0px 20px;
	}
	.trendingTitle {
		margin: 22px 0px;
	}
	.trendingDesc {
		padding: 12px;
	}
	.trendingDesc .user-image {
		width: 35px;
		top: -20px;
		right: 14px;
	}
	.trendingDesc .user-position {
		font-size: 15px;
		line-height: 24px;
		margin: 4px 0px 10px;
	}
	.trendingDesc .bid h5 {
		margin-bottom: 4px;
	}
	.trendingDesc .bid span {
		font-size: 16px;
		line-height: 24px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 22px;
		line-height: 28px;
	}
	h2 {
		font-size: 16px;
		line-height: 24px;
	}
	h3 {
		font-size: 14px;
		line-height: 22px;
	}
	h4 {
		font-size: 12px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.theme-btn {
		font-size: 14px;
		line-height: 22px;
		padding: 6px 0px;
	}
	.navbar {
		padding: 16px 0px;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
	}
	.navbarLight .navbarBrand {
		font-size: 18px;
		line-height: 26px;
		margin: 0px;
	}
	.navbarLight .navbarBrand img {
		width: 50px;
	}
	.menuLinks {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		background: var(--body-color);
		width: 70%;
		padding: 50px 0px 0px 20px;
		z-index: 10;
	}
	.lightTheme .menuLinks {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	}
	.menuLinks ul li {
		margin-bottom: 18px;
	}
	.menuLinks ul li a {
		padding: 8px;
	}
	.menuLinks ul li a i {
		margin-right: 10px;
	}
	.switch {
		width: 40px;
		height: 22px;
	}
	.switch::before {
		left: -2px;
	}
	.switch::after {
		right: 7px;
	}
	.slider {
		left: -7px;
	}
	.slider:before {
		width: 16px;
		height: 16px;
		right: 2px;
		bottom: 3px;
	}
	.headerContent form {
		width: fit-content;
		margin-right: 10px;
	}
	.search-icon {
		display: none;
	}
	.headerContent .profile {
		display: none;
	}
	.trendingTitle {
		margin: 25px 0px;
	}
	.trendingDesc {
		padding: 12px;
	}
	.trending-content {
		margin-bottom: 25px;
	}
	.trending-grid .col-md-4:last-child .trending-content {
		margin-bottom: 0px;
	}
	.trendingDesc .user-image {
		width: 35px;
		top: -20px;
		right: 14px;
	}
	.trendingDesc .user-position {
		font-size: 15px;
		line-height: 24px;
		margin: 4px 0px 10px;
	}
	.trendingDesc .bid h5 {
		margin-bottom: 4px;
	}
	.trendingDesc .bid span {
		font-size: 16px;
		line-height: 24px;
	}
}
