@media (min-width: 75rem) and (max-width: 87.4375rem) {
	h1 {
		font-size: 1.875rem;
		line-height: 2.375rem;
	}
	h2 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	h3 {
		font-size: 1.375rem;
		line-height: 1.875rem;
	}
	h4 {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
	h5 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	.menuLinks ul li {
		margin-bottom: 1.125rem;
	}
	.headerContent form {
		width: 75%;
	}
}

@media (min-width: 62rem) and (max-width: 74.9375rem) {
	h1 {
		font-size: 1.625rem;
		line-height: 2.125rem;
	}
	h2 {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
	h3 {
		font-size: 1.125rem;
		line-height: 1.625rem;
	}
	h4 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	h5 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	body {
		font-size: 0.9375rem;
		line-height: 1.375rem;
	}
	.navbar {
		padding: 1rem;
	}
	.navbarBrand {
		font-size: 1.125rem;
		line-height: 1.625rem;
		margin: 0rem;
	}
	.menuLinks ul li {
		margin-bottom: 1.125rem;
	}
	.menuLinks ul li a {
		padding: 0.5rem;
	}
	.menuLinks ul li a i {
		margin-right: 0.625rem;
	}
	.switch {
		width: 3.125rem;
		height: 1.625rem;
		margin-left: 1.25rem;
	}
	.slider:before {
		width: 1.125rem;
		height: 1.125rem;
		right: 0.1875rem;
	}
	.headerContent form {
		width: 75%;
	}
	.headerContent .profile {
		margin: 0rem 0.625rem 0rem 1.25rem;
	}
}
@media (min-width: 48rem) and (max-width: 61.9375rem) {
	h1 {
		font-size: 1.375rem;
		line-height: 1.75rem;
	}
	h2 {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	h3 {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
	h4 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	h5 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	body {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
	.navbar {
		padding: 1rem 0rem;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
	}
	.navbarBrand {
		font-size: 1.125rem;
		line-height: 1.625rem;
		margin: 0rem;
	}
	.lightTheme .menuLinks {
		box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.2);
	}
	.menuLinks ul li {
		margin-bottom: 1.125rem;
	}
	.menuLinks ul li a {
		padding: 0.5rem;
	}
	.menuLinks ul li a i {
		margin-right: 0.625rem;
	}
	.menuLinks {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		background: var(--body-color);
		width: 30%;
		padding: 3.125rem 0rem 0rem 1.25rem;
	}
	.switch {
		width: 3.125rem;
		height: 1.625rem;
		margin-left: 1.25rem;
	}
	.switch::before {
		left: 0.5rem;
	}
	.slider:before {
		width: 1.125rem;
		height: 1.125rem;
		right: 0.1875rem;
	}
	.headerContent form {
		width: 55%;
	}
	.lightTheme .headerContent form input[type='search'] {
		height: 2.25rem;
	}
	.headerContent .profile {
		margin: 0rem 0.625rem 0rem 1.25rem;
	}
}

@media (max-width: 47.9375rem) {
	h1 {
		font-size: 1.375rem;
		line-height: 1.75rem;
	}
	h2 {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	h3 {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
	h4 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	h5 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
	body {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
	.navbar {
		padding: 1rem 0rem;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
	}
	.navbarBrand {
		font-size: 1.125rem;
		line-height: 1.625rem;
		margin: 0rem;
	}
	.navbarBrand img {
		width: 3.125rem;
	}
	.menuLinks {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		background: var(--body-color);
		width: 70%;
		padding: 3.125rem 0rem 0rem 1.25rem;
	}
	.lightTheme .menuLinks {
		box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.2);
	}
	.menuLinks ul li {
		margin-bottom: 1.125rem;
	}
	.menuLinks ul li a {
		padding: 0.5rem;
	}
	.menuLinks ul li a i {
		margin-right: 0.625rem;
	}
	.switch {
		width: 2.5rem;
		height: 1.375rem;
	}
	.switch::before {
		left: -0.125rem;
	}
	.switch::after {
		right: 0.4375rem;
	}
	.slider {
		left: -0.4375rem;
	}
	.slider:before {
		width: 1rem;
		height: 1rem;
		right: 0.125rem;
		bottom: 0.1875rem;
	}
	.headerContent form {
		width: fit-content;
		margin-right: 0.625rem;
	}
	.headerContent .profile {
		display: none;
	}
}
