@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
	--col-popup-re: #c80036;
	--col-popup-gr: #365e32;
}
.lightTheme {
	--body-color: #f7f7f7;
	--white-color: #0f0f0f;
	--theme-color: #607274;
	--card-back: #ebebe7;
	--input-back: #b7b7b7;
	--input-color: #1c1d1d;
}
.darkTheme {
	--body-color: #0f0f0f;
	--white-color: #f7f7f7;
	--theme-color: #008170;
	--card-back: #222831;
	--input-back: #f6f5f2;
	--input-color: #1c1d1d;
}
* {
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
}
body {
	background-color: var(--body-color);
	color: var(--white-color);
	font-family: 'Manrope', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	max-width: 120rem;
	margin: 0rem auto;
	margin-bottom: 1.875rem;
}
h1 {
	font-size: 2rem;
	line-height: 2.5rem;
}
h2 {
	font-size: 1.625rem;
	line-height: 2.125rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h4 {
	font-size: 0.875rem;
	line-height: 1.375rem;
}
h5 {
	font-size: 0.75rem;
	line-height: 1.25rem;
}
a {
	text-decoration: none;
}
.btn {
	text-wrap: nowrap;
	text-decoration: none;
	color: var(--input-color);
	padding: 0.3125rem 0.9375rem;
	background-color: var(--input-back);
	border-radius: 0.3125rem;
	font-weight: bolder;
	transition: 0.3s;
	border: 0;
	outline: 0;
	font-size: 1rem;
}
.btn:hover {
	transition: 0.3s;
	color: 1;
}
.BaseInput {
	padding: 0.3em;
	font-size: 1rem;
	border-radius: 0.3125rem;
	border: 0;
	outline: 0;
	margin: 0.1875rem;
	background-color: var(--input-back);
	color: var(--input-color);
}
.BaseInput::placeholder {
	color: var(--input-color);
}
