@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
	--col-popup-re: #c80036;
	--col-popup-gr: #365e32;
}
.lightTheme {
	--body-color: #f7f7f7;
	--white-color: #0f0f0f;
	--theme-color: #607274;
	--card-back: #ebebe7;
	--input-back: #505761;
}
.darkTheme {
	--body-color: #0f0f0f;
	--white-color: #f7f7f7;
	--theme-color: #008170;
	--card-back: #222831;
	--input-back: #f6f5f2;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: var(--body-color);
	color: var(--white-color);
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 24px;
	max-width: 1920px;
	margin: 0px auto;
	margin-bottom: 30px;
}
h1 {
	font-size: 32px;
	line-height: 40px;
	color: var(--white-color);
}
h2 {
	font-size: 26px;
	line-height: 34px;
}
h3 {
	font-size: 24px;
	line-height: 32px;
}
h4 {
	font-size: 14px;
	line-height: 22px;
}
h5 {
	font-size: 12px;
	line-height: 20px;
}
a {
	text-decoration: none;
}
.btn {
	text-wrap: nowrap;
	text-decoration: none;
	color: var(--body-color);
	padding: 5px 15px;
	background-color: var(--white-color);
	border-radius: 5px;
	font-weight: bolder;
	transition: 0.3s;
	border: 0;
	outline: 0;
	font-size: 16px;
}
.btn:hover {
	transition: 0.3s;

	opacity: 0.8;
}
.BaseInput {
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: 0;
	outline: 0;
	margin: 3px;
	background-color: var(--input-back);
	color: var(--card-back);
}
.BaseInput::placeholder {
	color: var(--card-back);
	font-weight: bold;
}
