.dFlex {
	display: flex;
}
.wrapperVideo {
	margin: 0.625rem 0.3125rem;
	position: relative;
	color: #eee;
	font-size: 14px;
	overflow: hidden;
}
.wrapperVideo video {
	width: 100%;
}
.playerControlls {
	padding: 5px 8px;
	position: absolute;
	bottom: 1.25rem;
	left: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 2.5rem);
	background-color: #222831;
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	transition-delay: 0s;
}
.playerControlls.hide {
	bottom: 0;
	opacity: 0;
	transition-delay: 2s;
}
.controlsButton {
	background-color: transparent;
	border: 0;
	outline: 0;
	color: #eee;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}
.progressBarPlayer {
	border-radius: 5px;
	height: 4px;
	width: 90%;
	overflow: hidden;
	background-color: #3c3f43;
	margin: 0px 10px;
}
.progressBarPlayer .progressBar {
	height: 4px;
	width: 100%;
	background-color: var(--theme-color);
}
.timeControls {
	display: flex;
	align-items: center;
	padding: 0px 10px;
}
.timeControls p {
	padding: 0px 3px;
}
