.navTrigger {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0rem 0.9375rem;
	z-index: 1000;
	width: 2.25rem;
	height: 2.25rem;
	background: none;
	border: 0;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-appearence: none;
	-webkit-tap-highlight-color: transparent;
}
.navTrigger:focus {
	outline: none;
}
.navTrigger svg {
	width: 4rem;
	height: 3rem;
	top: -0.375rem;
	left: -0.875rem;
	stroke: var(--white-color);
	stroke-width: 0.25rem;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	display: block;
	position: absolute;
}
.navTrigger svg path {
	transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s),
		stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
	stroke-dasharray: var(--array-1, 1.625rem) var(--array-2, 6.25rem);
	stroke-dashoffset: var(--offset, 7.875rem);
	transform: translateZ(0);
}
.navTrigger svg path:nth-child(2) {
	--duration: 0.7s;
	--easing: ease-in;
	--offset: 6.25rem;
	--array-2: 4.625rem;
}
.navTrigger svg path:nth-child(3) {
	--offset: 8.3125rem;
	--array-2: 6.6875rem;
}
.navTrigger.active svg {
	stroke: var(--white-color);
}
.navTrigger.active svg path {
	--offset: 3.5625rem;
}
.navTrigger.active svg path:nth-child(1),
.navTrigger.active svg path:nth-child(3) {
	--delay: 0.15s;
	--easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.navTrigger.active svg path:nth-child(2) {
	--duration: 0.4s;
	--offset: 0.125rem;
	--array-1: 0.0625rem;
}
.navTrigger.active svg path:nth-child(3) {
	--offset: 3.625rem;
}
@media (max-width: 37.5rem) {
	.navTrigger {
		margin-right: auto;
	}
}
