.dFlex {
	display: flex;
	align-items: start;
}
.containerContent {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	margin-top: 100px;
}
.form,
.card {
	padding: 0px 10px 10px 10px;
}
.form button {
	margin-left: 3px;
}
.inputCon {
	position: relative;
	margin-bottom: 40px;
}

.errorMessage {
	position: absolute;
	right: 0;
	top: 0px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #db1212;
	border-radius: 5px;
	white-space: nowrap;
	z-index: 10;
}

.errorMessage i {
	margin-right: 5px;
	font-size: 25px;
}
.errorMessage p {
	display: none;
	background-color: #f00;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	white-space: nowrap;
	position: absolute;
	top: -40px;
	left: 0;
	z-index: 11;
}

.errorMessage:hover p {
	display: block;
}

.BaseInput {
	width: 100%;
	padding: 10px;
}
