.contentCar {
	padding: 2.5rem 0.7rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.imageCar {
	width: 50%;
	img {
		width: 100%;
		height: 100%;
		border-radius: 0.625rem;
	}
}
.backLink {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 1.25rem;
	font-size: 2.5rem;
	text-decoration: none;
	color: var(--white-color);
	span {
		margin-left: 0.5rem;
		font-size: 1rem;
	}
	&:hover {
		opacity: 0.8;
	}
}
.textCar {
	width: 50%;
}
.textCarHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-wrap: nowrap;
	h3 {
		padding: 0rem 1.5625rem;
	}
}
.descriptionCar {
	font-size: 1.0625rem;
	word-spacing: 0.1875rem;
	letter-spacing: 0.0313rem;
	padding: 0.625rem 0.9375rem;
}
@media (max-width: 62.5rem) {
	.contentCar {
		flex-direction: column;
	}
	.imageCar {
		width: 100%;
	}
	.textCar {
		width: 100%;
	}
	.textCarHeader {
		flex-direction: row;
		align-items: center;
		h3 {
			padding-top: 0.625rem;
			&:first-child {
				padding-bottom: 0;
			}
		}
	}
}
@media (max-width: 34.375rem) {
	.textCarHeader {
		flex-direction: column;
		align-items: start;
		h3 {
			padding-left: 0.9375rem;
		}
	}
}
