.dFlex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card {
	border-top-left-radius: 0.9375rem;
	border-top-right-radius: 0.9375rem;
	background: var(--card-back);
	box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 52.5rem;
	img {
		max-width: 100%;
		max-height: 100%;
		aspect-ratio: 16 / 10;
		object-fit: cover;
		border-top-left-radius: 0.9375rem;
		border-top-right-radius: 0.9375rem;
	}
	.info {
		position: relative;
		z-index: 1;
		.topContentCard i {
			font-size: 1.5625rem;
			cursor: pointer;
			padding: 0.625rem;
		}
	}
}
.carTitle {
	font-size: 1.3125rem;
	text-transform: capitalize;
	color: var(--white-color);
}
.topContentCard {
	padding: 0.3125rem 0.9375rem;
}
.bottomContentCard {
	padding: 1.5rem;
}
.descriptionCar {
	font-size: 0.9375rem;
	padding: 0rem 0.9375rem;
	word-spacing: 0.0625rem;
	letter-spacing: 0.025rem;
	line-height: 1.25rem;
	font-weight: lighter;
}
