.menu {
	position: absolute;
	top: 2.5rem;
	right: 0;
	padding: 0.3125rem;
	max-width: 19.6875rem;
	border-radius: 0.1875rem;
	color: var(--card-back);
	background-color: var(--input-back);
	text-align: center;
	opacity: 0;
	transform: translateY(0.625rem);
	visibility: hidden;
	transition: 0.1s;
}
.activeMenu ul li {
	border-bottom: 0.0313rem solid var(--body-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: start;
	font-weight: lighter;
}
.activeMenu ul li:last-child {
	border-bottom: none;
}
.activeMenu ul li:hover {
	opacity: 0.5;
}
.menu.active {
	opacity: 1;
	transform: translateX(0rem);
	visibility: visible;
}
