.menu {
	position: absolute;
	top: 40px;
	right: 0;
	padding: 5px;
	max-width: 315px;
	border-radius: 3px;
	color: var(--card-back);
	background-color: var(--input-back);
	text-align: center;
	opacity: 0;
	transform: translateY(10px);
	visibility: hidden;
	transition: 0.1s;
}
.activeMenu ul li {
	border-bottom: 0.5px solid var(--body-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: start;
	font-weight: lighter;
}
.activeMenu ul li:last-child {
	border-bottom: none;
}
.activeMenu ul li:hover p {
	opacity: 0.5;
}
.menu.active {
	opacity: 1;
	transform: translateX(0px);
	visibility: visible;
}
