.headerInner > * {
	margin: 0px 5px;
}
.containerFluid {
	border-bottom: 0.5px solid #464545;
}
.dFlex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar {
	padding: 15px 0px;
}
.headerInner {
	width: 100%;
}
.navbarLight .navbarBrand {
	font-size: 26px;
	line-height: 30px;
	font-weight: 500;
	color: var(--white-color);
}
.navbarLight .navbarBrand:hover {
	color: var(--white-color);
}
.headerContent {
	width: 100%;
}
.headerContent form {
	width: 85%;
}
.headerContent form input[type='search']::-webkit-input-placeholder {
	color: var(--white-color);
}
.headerContent form input[type='search'] {
	color: var(--white-color);
	height: 42px;
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
}
.searchIcon {
	position: relative;
	width: 85%;
}
.searchIcon i {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: var(--white-color);
	transform: translateY(-50%);
}
.lightTheme .headerContent form input[type='search'] {
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.darkTheme .headerContent form input[type='search'] {
	background: #272933;
}
.headerContent {
	display: flex;
	justify-content: space-between;
}
