.dFlex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar {
	padding: 15px;
	width: 100%;
	position: fixed;
	background-color: var(--body-color);
	margin: 0px auto;
	z-index: 3;
}
.navbar .navbarBrand {
	font-size: 26px;
	line-height: 30px;
	font-weight: 500;
	color: var(--white-color);
}
.navbar .navbarBrand:hover {
	color: var(--white-color);
}
.headerContent {
	width: 100%;
}

